// .input {
//     position: relative;
//     max-width: 380px;
//     width: 100%;
//     background-color: #f0f0f0;
//     margin: 10px 0;
//     height: 55px;
//     display: grid;
//     border-radius: 55px;
//     padding: 0 1rem;
//     align-items: center;
//     grid-template-columns: 15% 85%;
//     margin-bottom: 1rem;
//     svg{
//         width: 25px;
//         height: 25px;
//         stroke: #6666669a;
//         fill: #6666669a;
//     }
//     input {
//         background: none;
//         outline: none;
//         border: none;
//         line-height: 1;
//         font-weight: 600;
//         font-size: 1.1rem;
//         color: #333;
//         &::placeholder{
//             color: #aaa;
//             font-weight: 500;
//         }
//     }
// }
// .error {
//     background: $light-error-color !important;
//     margin-top: 5rem !important;
//     input {
//         color: #fff !important;
//         &::placeholder{
//             color: #fff !important;
//         }
//     }
//     svg {
//         fill: #fff !important;
//         stroke: #fff;

//     }
// }
// .error_popup {
//     position: absolute;
//     top: -70px;
//     background: $error-color;
//     height: 60px;
//     width: 100%;
//     border-radius: 20px;
//     display: grid;
//     color: #fff;
//     place-items: center;
//     font-weight: 700;
//     font-size: 14px;
//     padding: 10px;
//     span {
//         position: absolute;
//         bottom: -10px;
//         left: 1rem;
//         border-top: 10px solid $error-color;
//         border-right: 10px solid transparent;
//         border-left: 10px solid transparent;
//     }
// }

.input {
    position: relative;
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1rem;

    svg {
        width: 25px;
        height: 25px;
        stroke: #6666669a;
        fill: #6666669a;
    }

    input {
        background: none;
        outline: none;
        border: none;
        line-height: 1;
        font-weight: 600;
        font-size: 1.1rem;
        color: #333;

        &::placeholder {
            color: #aaa;
            font-weight: 500;
        }
    }
}

.error {
    background: $light-error-color !important;
    margin-top: 5rem !important;

    input {
        color: #fff !important;

        &::placeholder {
            color: #fff !important;
        }
    }

    svg {
        fill: #fff !important;
        stroke: #fff;
    }
}

.error__popup {
    position: absolute;
    top: -70px;
    background: $error-color;
    height: 60px;
    width: 100%;
    border-radius: 20px;
    display: grid;
    place-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;

    span {
        position: absolute;
        bottom: -9px;
        left: 1rem;
        border-top: 10px solid $error-color;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }
}